/* Zusätzliche Helfer für Blinken */

@keyframes avatarBlink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

/* Roter Avatarpunkt blinkt */
.blink-avatar {
  animation: avatarBlink 1s step-start 0s infinite;
}
